*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}
a:hover {
    background-color: yellow;
  }

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.row{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}